@{
    ViewBag.Title = "Hexcrawl";
    ViewBag.AppName = "hexCrawl";
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}
<h2>{{heading}}</h2>


<div class="row">
    <div class="col-sm-1">
        Menu here?
    </div>
    <div class="col-md-11" ng-view></div>
</div>

@{
    this.ViewBag.Scripts = new List<string>()
    {
        "~/App/HexMaps/ModelTypes.js",
        "~/App/HexMaps/Services.js",
        "~/App/HexMaps/Controllers.js",
        "~/App/HexMaps/HexMapModule.js",
        "~/App/app.js"
    };
}

@*<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visibility)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visibility)
        </td>
        <td>
            @Html.ActionLink("Play", "Play", new { id = item.ID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>*@
